.wrap{
    width: 100vw;
    height: 300vh;
    background-image: url('./Components/resources/Group 1.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
}

*::-webkit-scrollbar {
    display: none;
}

